.benefits {
  width: 1222px;
  margin: 0 auto 120px;

  @media (max-width: $desktop-stretching-width) {
    width: calc(1222 / 1280 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    width: 670px;
    margin-bottom: 75px;
  }

  @media (max-width: $max-tablet-width-control-point) {
    width: calc(670 / 770 * 100vw);
  }

  @media (max-width: $max-mobile-width) {
    width: 270px;
    margin-bottom: 38px;
  }
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $max-mobile-width) {
    display: block;
  }
}

.benefits__item {
  border: 1px solid $light-color-type-4;
  border-left: 5px solid $base-button-color;
  position: relative;
  padding: 94px 45px 45px 42px;
  box-sizing: border-box;
  min-height: 300px;

  @media (max-width: $max-tablet-width) {
    min-height: 360px;
    padding: 92px 41px 31px 41px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 30px;
    min-height: 325px;
    padding: 75px 30px 75px 25px;
  }
}

.benefits__item:last-child {
  @media (max-width: $max-mobile-width) {
    margin-bottom: 0;
  }
}

.benefits__item--major-suppliers {
  @media (max-width: $max-mobile-width) {
    padding-bottom: 55px;
  }
}

.benefits__icon {
  position: absolute;
  top: 40px;
  left: 40px;
  fill: $base-button-color;

  @media (max-width: $max-mobile-width) {
    width: 30px;
    height: 30px;
    top: 29px;
    left: 26px;
  }
}

.benefits__item h3 {
  margin: 0 0 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $base-button-color;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 11px;
    line-height: 29px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 8px;
  }
}

.benefits__item p {
  margin: 0;

  @media (max-width: $max-tablet-width) {
    line-height: 21.5px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }
}

.benefits__item:hover {
  background: $base-button-color;
  border-color: $base-button-color;
}

.benefits__item:hover .benefits__icon {
  fill: $light-color-type-2;
}

.benefits__item:hover h3,
.benefits__item:hover p {
  color: $light-color-type-2;
}
