.card:hover .card__link {
  opacity: 0.6;
}

.card:active .card__link {
  opacity: 1;
}

.card__link {
  display: block;
  color: $light-color-type-5;
  box-sizing: border-box;
  padding: 47px 0 0 40px;
  min-height: 650px;
  position: relative;
  text-decoration: none;

  @media (max-width: $desktop-stretching-width) {
    min-height: calc(650 / 1280 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    min-height: 250px;
    padding: 37px 0 0 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 23px 0 0 30px;
  }
}

.card__link h3 {
  display: block;
  position: relative;
  width: 180px;
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;

  @media (max-width: $max-mobile-width) {
    font-size: 18px;
    line-height: 33px;
  }
}

.card__link h3 br {
  display: none;

  @media (max-width: $max-tablet-width) {
    display: block;
  }
}

.card__picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: $base-dark-color;
}

.card__picture::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: $dark-color-type-5;
}

.card__picture img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  fill: transparent;

  @media (max-width: $max-mobile-width) {
    width: 40px;
    height: 40px;
  }
}
