.chapter {
  color: $light-color-type-5;
  width: 500px;
  margin-top: 7px;

  @media (max-width: $desktop-stretching-width) {
    width: calc(500 / 1280 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    margin-top: 0;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    border-bottom: 1px solid $light-color-type-6;
  }
}

.chapter h2 {
  margin: 0 0 18px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.chapter button {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: block;
    width: 100%;
    background: transparent;
    cursor: pointer;
    color: $light-color-type-5;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    border: none;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.8px;
    padding: 22px 25px 21px;
  }
}

.chapter button:hover {
  opacity: 0.6;
}

.chapter button:active {
  opacity: 1;
}

.chapter--nojs button {
  pointer-events: none;
}

.chapter__button-icon {
  @media (max-width: $max-mobile-width) {
    position: absolute;
    top: 20px;
    right: 26px;
  }
}

.chapter--nojs .chapter__button-icon {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.chapter--closed .chapter__button-icon--close,
.chapter--opened .chapter__button-icon--open {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.chapter__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  letter-spacing: 0.2px;

  @media (max-width: $max-tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding: 0 25px;
  }
}

.chapter__list--closed {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.chapter--nojs .chapter__list--closed,
.chapter__list--opened {
  @media (max-width: $max-mobile-width) {
    display: block;
  }
}

.chapter__item {
  margin-right: 30px;
  display: block;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 15px;
  }
}

.chapter__item:last-child {
  margin-bottom: 0;
}

.chapter__item:hover .chapter__item-link {
  opacity: 0.6;
}

.chapter__item:active .chapter__item-link {
  opacity: 1;
}

.chapter__item--about {
  @media (max-width: $max-tablet-width) {
    order: 1;
  }
}

.chapter__item--accessories {
  @media (max-width: $max-tablet-width) {
    order: 5;
  }
}

.chapter__item--products {
  @media (max-width: $max-tablet-width) {
    order: 2;
  }
}

.chapter__item--delivery {
  @media (max-width: $max-tablet-width) {
    order: 6;
  }
}

.chapter__item--pcb-manufacturing {
  @media (max-width: $max-tablet-width) {
    order: 3;
  }
}

.chapter__item--contacts {
  @media (max-width: $max-tablet-width) {
    order: 7;
  }
}

.chapter__item--pcb-assembly {
  @media (max-width: $max-tablet-width) {
    order: 4;
  }
}

.chapter__item-link {
  display: block;
  text-decoration: none;
  color: $light-color-type-3;
  padding: 5px 0 4px;
  box-sizing: border-box;
  width: 220px;

  @media (max-width: $desktop-stretching-width) {
    width: calc(220 / 1280 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    width: 220px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}
