.control-popup {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
}

.control-popup:hover {
  opacity: 0.6;
}

.control-popup:active {
  opacity: 1;
}

.control-popup__mark-icon {
  display: none;
  position: absolute;
  top: 6px;
  left: 13px;
  width: 9px;
  height: 6px;
  content: "";
  z-index: 2;
  fill: transparent;
}

.control-popup__mark {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid $light-color-type-5;
  content: "";
}

.control-popup span:last-child {
  font-size: 14px;
  line-height: 16px;
}

.control-popup input[type="checkbox"]:checked + .control-popup__mark-icon {
  display: block;
}

.control-popup input[type="checkbox"]:focus-visible ~ .control-popup__mark {
  border: 1px solid $dark-color-type-7;
}
