.external {
  list-style-type: none;
  padding: 0;
  margin: 0 35px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;

  @media (max-width: $max-tablet-width) {
    margin-right: 0;
  }
}

.external__link {
  display: block;
}
