.feedback {
  background: $background-color;
  background-image: url("../img/svg/polygon.svg");
  background-repeat: no-repeat;
  background-position: -555px;
  background-size: cover;
  padding: 165px 0 250px;
}

.feedback__wrapper {
  width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 510px 1fr;
  gap: 120px;
  align-items: center;
}

.feedback__wrapper img {
  margin-top: 22px;
}
