.footer {
  background: $base-dark-color;
  padding: 50px 0 45px;
  box-sizing: border-box;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 58px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 36px 0;
  }
}

.footer__wrapper {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-stretching-width) {
    width: calc(1220 / 1280 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    width: 670px;
  }

  @media (max-width: $max-mobile-width) {
    width: auto;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  @media (max-width: $max-tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 30px;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    padding-bottom: 24px;
    border-bottom: 1px solid $light-color-type-6;
    margin-bottom: 0;
  }
}

.footer__link {
  display: block;
  margin-bottom: 29px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 13px;
  }
}

.footer__link--active {
  pointer-events: none;
}

.footer__logo {
  @media (max-width: $max-tablet-width) {
    width: 215px;
  }
}

.footer__details {
  display: flex;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}
