.footer {
  background: $base-dark-color;
  padding: 50px 0 45px;
  box-sizing: border-box;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 58px;
  }
}

.footer__wrapper {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-stretching-width) {
    width: calc(1220 / 1280 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    width: 670px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  @media (max-width: $max-tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 37px;
  }
}

.footer__link {
  display: grid;
  grid-template-columns: 55px 1fr;
  width: 204px;
  gap: 15px;
  text-decoration: none;
  color: $light-color-type-2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 35px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 0;
  }
}

.footer__link--active {
  pointer-events: none;
}

.footer__link span {
  display: block;
}

.footer__link-description {
  color: $light-color-type-6;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.footer__details {
  display: flex;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }
}
