.intro {
  background: $base-dark-color;
  box-sizing: border-box;
  background-image: url("../img/background/intro/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/intro/back@2x.jpg");
  }
}

.intro__wrapper {
  min-height: 880px;
  padding-top: 120px;
  position: relative;
}

.intro__wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient($dark-color-type-3 71.72%, $dark-color-type-4 100%);
  opacity: 0.7;
}

.intro__description {
  color: $light-color-type-2;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 185px;
  width: 970px;
}

.intro__description h1 {
  margin: 0 0 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
}

.intro__description p {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 34px;
  width: 685px;
}

.intro__link {
  display: block;
  color: $light-color-type-2;
  text-decoration: none;
  background: $base-button-color;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 410px;
}
