.page {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $base-dark-color;
  background: $base-light-color;
  min-width: $mobile-width-only;
  scroll-behavior: smooth;

  @media (min-width: $mobile-width-only) {
    overflow-x: hidden;
  }
}

.page__body {
  height: 100%;
  margin: 0;
  position: relative;

  @media (min-width: $mobile-width-only) {
    overflow-x: hidden;
  }
}

.page__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: linear-gradient($base-dark-color 84.9%, $dark-color-type-2 100%);
  padding: 30px 0 35px;

  @media (max-width: $max-tablet-width) {
    position: absolute;
    top: 0;
    padding: 20px 0;
  }

  @media (max-width: $max-mobile-width) {
    padding: 15px 0;
  }
}

.page__main {
  flex: 1 1 auto;
}
