// Colors

$base-dark-color: #041827;
$dark-color-type-2: rgba(4, 24, 39, 0);
$dark-color-type-3: #192024;
$dark-color-type-4: rgba(25, 32, 36, 0);
$dark-color-type-5: rgba(4, 24, 39, 0.5);
$dark-color-type-6: rgba(4, 20, 39, 0.15);
$dark-color-type-7: #041427;
$base-light-color: #f8fdff;
$light-color-type-2: #f2f5f6;
$light-color-type-3: rgba(255, 255, 255, 0.7);
$light-color-type-4: #ebebeb;
$light-color-type-5: #ffffff;
$light-color-type-6: rgba(248, 253, 255, 0.7);
$base-button-color: #00b2ff;
$background-color: #00b3ff;
$modal-background-color: rgba(3, 16, 27, 0.7);

// Viewports

$mobile-width-only: 320px;
$max-mobile-width: 767px;
$max-tablet-width-control-point: 769px;
$max-tablet-width: 1023px;
$desktop-stretching-width: 1279px;
